Repository cdcepi/WNV-forecast-project-2023, pull requests merged in 2023-09, with the labels that each got.

#63 August submission
  data-forecasts/UND-ARBayesWNV/2023-08-31-UND-ARBayesWNV.csv
Labels: data-submission

#64 KSUUSDA forecast submission
  data-forecasts/KSUUSDA-ICCBayesian/2023-08-31-KSUUSDA-ICCBayesian.csv
Labels: data-submission, passed-validation

#67 UWmad WSSmodel August submission
  data-forecasts/UWmad-WSSmodel/2023-08-31-UWmad-WSSmodel.csv
Labels: data-submission, passed-validation

#68 Stevens August Submission
  data-forecasts/Stevens-WNVForecast/2023-08-31-Stevens-WNVForecast.csv
  data-forecasts/Stevens-WNVForecast/metadata-Stevens-WNVForecast.txt
Labels: data-submission, metadata-change, passed-validation

#69 update forecast for aug
  data-forecasts/UNC_IDD-StatMech/2023-08-31-UNC_IDD-StatMech.csv
Labels: data-submission, passed-validation

#70 August predictions first submission attempt.
  data-forecasts/stanford-hppw/2023-08-31-stanford-hppw.csv
  data-forecasts/stanford-hppw/metadata-stanford-hppw.txt
Labels: data-submission, metadata-change, passed-validation
