Repository cdcepi/WNV-forecast-project-2023, pull requests merged in 2023-10, with the labels that each got.

#71 September forecasts
  data-forecasts/UND-ARBayesWNV/2023-09-30-UND-ARBayesWNV.csv
  data-forecasts/UND-ARBayesWNV/metadata-UND-ARBayesWNV.txt
Labels: data-submission, metadata-change

#72 WSS Model September Submission
  data-forecasts/UWmad-WSSmodel/2023-09-30-UWmad-WSSmodel.csv
Labels: data-submission, passed-validation

#73 september forecast
  data-forecasts/UNC_IDD-StatMech/2023-09-30-UNC_IDD-StatMech.csv
Labels: data-submission, passed-validation

#74 First submission attempt for September predictions.
  data-forecasts/stanford-hppw/2023-09-30-stanford-hppw.csv
Labels: data-submission, passed-validation

#75 Stevens September Submission
  data-forecasts/Stevens-WNVForecast/2023-09-30-Stevens-WNVForecast.csv
Labels: data-submission
