Repository cdcepi/WNV-forecast-project-2023, pull requests merged in 2023-07, with the labels that each got.

#54 Submission attempt for June predictions.
  data-forecasts/stanford-hppw/2023-06-30-stanford-hppw.csv
  data-forecasts/stanford-hppw/metadata-stanford-hppw.txt
Labels: data-submission, metadata-change, passed-validation

#53 Added June forecasts for Sentinel team
  data-forecasts/sentinel-gamlss/2023-06-30-sentinel-gamlss.csv
  data-forecasts/sentinel-hhh4/2023-06-30-sentinel-hhh4.csv
  data-forecasts/sentinel-inla/2023-06-30-sentinel-inla.csv
Labels: data-submission, passed-validation

#52 June Forecast
  data-forecasts/UNC_IDD-StatMech/2023-06-30-UNC_IDD-StatMech.csv
  data-forecasts/UNC_IDD-StatMech/metadata-UNC_IDD-StatMech.txt
Labels: data-submission, metadata-change, passed-validation

#51 KUSUSDA June Submission
  data-forecasts/KSUUSDA-ICCBayesian/2023-06-30-KSUUSDA-ICCBayesian.csv
Labels: data-submission, passed-validation

#50 Stevens June Submission
  data-forecasts/Stevens-WNVForecast/2023-06-30-Stevens-WNVForecast.csv
Labels: data-submission, passed-validation

#47 UWMad June submission
  data-forecasts/UWmad-WSSmodel/2023-06-30-UWmad-WSSmodel.csv
Labels: data-submission, passed-validation

#45 June submission. Forecasts updates with most recent climate covariate…
  data-forecasts/UND-ARBayesWNV/2023-06-30-UND-ARBayesWNV.csv
  data-forecasts/UND-ARBayesWNV/metadata-UND-ARBayesWNV.txt
Labels: data-submission, metadata-change

#46 Add files via upload
  data-forecasts/ucdavis-inla/2023-06-30-ucdavis-inla.csv
Labels: data-submission
