Repository cdcepi/WNV-forecast-project-2023, pull requests merged in 2023-06, with the labels that each got.

#38 UWMad May Submission
  data-forecasts/UWmad-WSSmodel/2023-05-31-UWmad-WSSmodel.csv
Labels: data-submission, passed-validation

#39 May forecast KSUUSDA
  data-forecasts/KSUUSDA-ICCBayesian/2023-05-31-KSUUSDA-ICCBayesian.csv
Labels: data-submission

#40 Inla-UCDAVIS
  data-forecasts/ucdavis-inla/2023-05-31-ucdavis-inla.csv
  data-forecasts/ucdavis-inla/metadata-ucdavis-inla.txt
Labels: data-submission, metadata-change, passed-validation

#43 update forecasts and metadata
  data-forecasts/UNC_IDD-StatMech/2023-05-31-UNC_IDD-StatMech.csv
  data-forecasts/UNC_IDD-StatMech/metadata-UNC_IDD-StatMech.txt
Labels: data-submission, metadata-change, passed-validation

#42 May forecasts for Sentinel team
  data-forecasts/sentinel-gamlss/2023-04-30-sentinel-gamlss.csv
  data-forecasts/sentinel-gamlss/2023-05-31-sentinel-gamlss.csv
  data-forecasts/sentinel-gamlss/metadata-sentinel-gamlss.txt
  data-forecasts/sentinel-hhh4/2023-05-31-sentinel-hhh4.csv
  data-forecasts/sentinel-inla/2023-05-31-sentinel-inla.csv
Labels: data-submission, metadata-change, new-team-submission

#44 Submission attempt for May predictions.
  data-forecasts/stanford-hppw/2023-05-31-stanford-hppw.csv
  data-forecasts/stanford-hppw/metadata-stanford-hppw.txt
Labels: data-submission, metadata-change, new-team-submission, passed-validation
